## Tuple are used to store multiple items in a single variable.
- A Tuple is a collection which is ordered and unchangeableand allow duplicate values.
- Tuples are written with round brackets.

In [1]:
thistuple = ('apple', 'banana', 'cherry')
print(thistuple)

('apple', 'banana', 'cherry')

In [2]:
print(len(thistuple))

3

In [3]:
thistuple = ('apple',)
print(type(thistuple))

mytuple = ('apple')
print(type(mytuple))

<class 'tuple'>
<class 'str'>

In [4]:
thistuple = tuple(('apple', 'banana', 'cherry'))
print(thistuple)

('apple', 'banana', 'cherry')

In [5]:
thistuple = ('apple', 'banana', 'cherry')
if 'apple' in thistuple:
    print('Yes, "apple" is in the fruits tuple')

Yes, "apple" is in the fruits tuple

In [6]:
x = ('apple', 'banana', 'cherry')
y = list(x)
y[1] = 'kiwi'
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [7]:
thistuple = ('apple', 'orange', 'cherry')
y = list(thistuple)

y.append('orange')
thistuple = tuple(y)
print(thistuple)

('apple', 'orange', 'cherry', 'orange')

In [8]:
thistuple = ('apple', 'orange', 'cherry')
y = ('orange',)
thistuple += y

print(thistuple)

('apple', 'orange', 'cherry', 'orange')

In [9]:
thistuple = ('apple', 'banana', 'cherry')
y = list(thistuple)
y.remove('apple')
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [10]:
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

In [11]:
fruits = ('apple', 'banana', 'cherry')

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [12]:
fruits = ('apple', 'banana', 'cherry', 'strawberry', 'raspberry')

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [13]:
(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry

In [14]:
thistuple = ('apple', 'banana', 'cherry')
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

In [15]:
i = 0

while i < len(thistuple):
    print(thistuple[i])
    i += 1

apple
banana
cherry

In [16]:
tuple1 = ('a', 'b', 'c')
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [17]:
fruits = ('apple', 'banana', 'cherry')
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')